@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, business, emerald, cupcake, dracula, night,
          synthwave, retro, cyberpunk, garden, luxury, dark, sunset, aqua,
          black, lemonade, fantasy, wireframe, cmyk;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

img,
video {
  max-width: 100%;
}
